<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>codding</title>
  <style>
    body{
      background-color: lightblue;
      color: cyan;
    }
  </style>
</head>
<body>
  <h1> we are learning ejs <%=name%></h1>
  <li> smarthphone name=<%= product[0].title%> price=<%=product[0].price%></li>
  <li> smarthphone name=<%= product[1].title %></li>
</body>
</html>